__pycache__/
.ipynb_checkpoints/
basetts_outputs_use_bert/
basetts_outputs/
multilingual_ckpts
basetts_outputs_package/
build/
*.egg-info/
melo/data/Teto/
logs/
test.py
bash.exe.stackdump
import.log
webapi/models.json

*.zip
*.mp3
*.flac
*.wav